from __future__ import unicode_literals

import os

from dokang.harvesters import sphinx_rtd_config


here = os.path.abspath(os.path.dirname(__file__))

DOC_SETS = (
    {'id': 'dokang',
     'title': "Dokang",
     'path': '%s/docs/_build/html' % here,
     'harvester': sphinx_rtd_config(),
     'url': 'file://%s/docs/_build/html/' % here,
    },
)
