include LICENSE.txt README.rst CHANGES.rst
include requirements*.txt

graft dokang

prune docs
prune tests
prune docker

global-exclude .py[cod] __pycache__ .so

exclude Makefile
exclude release.conf
exclude .pylintrc
exclude dev.ini
