global-exclude *.py[cod]

include CHANGES.rst
include LICENSE.txt
include README.rst

graft src/dokang

prune docker
prune docs
prune tests

exclude .pylintrc
exclude .readthedocs.yaml
exclude dev.ini
exclude Makefile
exclude release.conf
exclude requirements_dev.txt
