global-exclude *.py[cod]

include LICENSE.txt
include README.rst
include CHANGES.rst

graft src/dokang

prune docs
prune tests
prune docker

exclude Makefile
exclude release.conf
exclude .pylintrc
exclude dev.ini
exclude requirements_dev.txt